{% extends "layout.html" %}

{% block body %}

<div class = "jumbotron text-center" >

    {% if request.user.is_authenticated %}
    <h3>Ödev Takip Sitesine Hoşgeldin {{request.user.username}}...</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere repellendus, quia accusantium perspiciatis debitis. Eaque, delectus quod. Consectetur itaque pariatur nemo? Enim nam, eum nobis voluptatem labore quia dicta.</p>
    
    
    {% else %}
    <h3>Ödev Takip Sitesine Hoşgeldiniz...</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere repellendus, quia accusantium perspiciatis debitis. Eaque, delectus quod. Consectetur itaque pariatur nemo? Enim nam, eum nobis voluptatem labore quia dicta.</p>
    
    {% endif %}
    
</div>

{% endblock body %}